{% load static %}
{% load filters %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'components/head.html' %}

  <title>{{ tool.name|title }} | Ninja-Bag</title>

  <script>
    const djangoEndpoints = `{{ tool.endpoints|to_json|safe }}`
    const userToken = `{{ account.user_api_key }}`
    const isLimitsActive = {{ is_limits_active|lower }}
  </script>
  <script src="{% static 'js/endpoint-handler-classes.js' %}"></script>
  <script src="{% static 'js/endpoint-handler.js' %}"></script>
</head>
<body>
  {% include 'components/loading-page.html' %}

  <div id="api">
    {% include 'components/header.html' %}

    <div class="content flex justify-evenly items-start">

      <main class="flex-grow pr-5">
        <div class="tool-info text-center rounded-lg p-5 mb-12">
          
          {% if tool.logo %}
          <div 
            class="w-48 h-48 mb-3 rounded-full overflow-hidden bg-center bg-cover bg-no-repeat m-auto"
            style="background-image: url({{ tool.logo.url }});"
          >
          </div>
          {% endif %}
            

          <h1 class="text-4xl font-bold">{{ tool.name }}</h1>

          <div class="description text-left mt-8">{{ tool.description }}</div>

          <div class="text-right" x-data="setupIssueButton()">
            <button 
              class="bg-accent text-white font-bold text-sm capitalize px-3 py-1"
              @click="isOpen = true"
            >report an issue</button>
            
            <div 
              class="model-try-request fixed top-0 right-0 left-0 bottom-0 text-left"
              x-show="isOpen"
            >
              <div
                class="bg-primary-800 opacity-70 w-full h-full"
                @click="isOpen = false"
              ></div>
                
              <div 
                class="dialog px-5 py-3 rounded-md bg-primary-700 z-20 absolute"
                style="
                  top: 50%; left: 50%; transform: translate(-50%, -50%); 
                  max-width: 500px; width: 80%;"
              >
                <div class="text-sm flex items-center justify-end">
                  <span
                    class="text-2xl text-button-text cursor-pointer mx-3"
                    @click="isOpen = false" 
                  >&times;</span>
                </div>

                <div class="dialog-content mt-5 relative">
                  <div>
                    <h3 class=" font-bold mb-5 text-center">
                      Report any issue you face or any imporvement you see will make the tool better. Thanks ❤️
                    </h3>

                    <form x-on:submit.prevent="submitToolReport()" class="flex flex-col item-strech">
                      <textarea x-model="issueDescription" class="w-full h-32 bg-primary-600 px-3 py-2" placeholder="Explain..." required></textarea>
  
                      <button 
                        style="height: 35px;"
                        class="mt-3 overflow-hidden font-bold uppercase bg-accent text-button-text" 
                        x-bind:disabled="isButtonLoading"
                        x-bind:class="isButtonLoading ? 'relative' : ''"
                        x-html="isButtonLoading ? buttonStates.loading : buttonStates.normal"
                      ></button>
                    </form>
                  </div>
                </div>
              </div>

            </div>

            <script>
              function setupIssueButton () {
                return {
                  url: "{% url 'toolsframe:report-tool' tool.tool_id %}",
                  issueDescription: '',
                  isOpen: false,
                  isButtonLoading: false,
                  buttonStates: {
                    loading: '<div class="lds-ripple" style="left:42%;"><div></div><div></div></div>',
                    normal: 'send'
                  },

                  submitToolReport () {
                    this.isButtonLoading = true
                    const description = this.issueDescription.trim()
                    if (!description.length){
                      setTimeout(()=> { this.isButtonLoading = false }, 1000)
                      notify('Failed', 'failed')
                      return
                    }

                    const requestConfig = {
                      method: 'POST',
                      headers: { 'Content-Type': 'application/json', },
                      body: JSON.stringify({ description })
                    }

                    fetch(this.url, requestConfig)
                      .then(res => {
                        this.isButtonLoading = false
                        this.issueDescription = ''
                        notify('Sent', 'success')
                      })
                      .catch(err => {
                        this.isButtonLoading = false
                        console.error(err)
                        notify('Failed', 'failed')
                      })
                  }
                }
              }
            </script>
          </div>
        </div>

        <div class="end-points">
          <h2 class="text-2xl font-bold capitalize mb-6">end points</h2>


          <ul x-data="renderEndpoints()">

            <template x-for="(endpoint, index) in endpoints" :key="index">
              <li class="rounded-lg px-5 py-3 method-get mb-4">

                {% include 'endpoint-components/ep-basic-info.html' %}

                <div class="endpoint-full-info props" x-show="endpoint.isOpen">

                  
                  {% if is_limits_active %}
                  {% include 'endpoint-components/ep-limits.html' %}
                  {% endif %}
                    

                  <div class="example py-3">
                    <template x-if="!endpoint.stop_http_testing">
                      <h4 class="text-lg capitalize font-bold mr-3 mb-5">example</h4>
  
                      <div class="http-request px-5 py-3 rounded-lg bg-primary-800 mb-8">
  
                        {% include 'endpoint-components/ep-request-http-syntax.html' %}
  
                        <div class="mt-4 flex justify-between items-center">
                          <span class="font-bold text-accent">Double click to start update request to try it</span>
  
                          {% include 'endpoint-components/ep-request-action-buttons.html' %}
                          {% include 'endpoint-components/ep-request-popup-try.html' %}
                        </div>
                      </div>
                    </template>

                    {% include 'endpoint-components/ep-params.html' %}
                  </div>
                </div>
              </li>
            </template>

          </ul>
        </div>
      </main>
  
      {% include 'components/aside.html' %}
    </div>

    {% include 'components/footer.html' %}
  </div>
</body>
</html>