{% load static %}
{% load filters %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'components/head.html' %}

  <title>Ninja-Bag</title>

  <script>
    const djangoEndpoints = `{{ tool.endpoints|to_json|safe }}`
    const userToken = `{{ account.user_api_key }}`
    const isLimitsActive = {{ is_limits_active|lower }}
  </script>
  <script src="{% static 'js/endpoint-handler-classes.js' %}"></script>
  <script src="{% static 'js/endpoint-handler.js' %}"></script>
</head>
<body>
  {% include 'components/loading-page.html' %}

  <div id="api">
    {% include 'components/header.html' %}

    <div class="content flex justify-evenly items-start">

      <main class="flex-grow pr-5">
        <div class="tool-info text-center rounded-lg p-5 mb-12">
          
          {% if tool.logo %}
          <div 
            class="w-48 h-48 mb-3 rounded-full overflow-hidden bg-center bg-cover bg-no-repeat m-auto"
            style="background-image: url({{ tool.logo.url }});"
          >
          </div>
          {% endif %}
            

          <h1 class="text-4xl font-bold">{{ tool.name }}</h1>

          <div class="description text-left mt-8">{{ tool.description }}</div>
        </div>

        <div class="end-points">
          <h2 class="text-2xl font-bold capitalize mb-6">end points</h2>


          <ul x-data="renderEndpoints()">

            <template x-for="(endpoint, index) in endpoints" :key="index">
              <li class="rounded-lg px-5 py-3 method-get mb-4">

                {% include 'endpoint-components/ep-basic-info.html' %}

                <div class="endpoint-full-info props" x-show="endpoint.isOpen">

                  
                  {% if is_limits_active %}
                  {% include 'endpoint-components/ep-limits.html' %}
                  {% endif %}
                    

                  <div class="example py-3">
                    <h4 class="text-lg capitalize font-bold mr-3 mb-5">example</h4>

                    <div class="http-request px-5 py-3 rounded-lg bg-primary-800">

                      {% include 'endpoint-components/ep-request-http-syntax.html' %}

                      <div class="mt-4 flex justify-between items-center">
                        <span class="font-bold text-accent">Double click to start update request to try it</span>

                        {% include 'endpoint-components/ep-request-action-buttons.html' %}
                        {% include 'endpoint-components/ep-request-popup-try.html' %}
                      </div>
                    </div>

                    {% include 'endpoint-components/ep-params.html' %}
                  </div>
                </div>
              </li>
            </template>

          </ul>
        </div>
      </main>
  
      {% include 'components/aside.html' %}
    </div>

    {% include 'components/footer.html' %}
  </div>
</body>
</html>