<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ninja-Bag | {{ tool.name }}</title>
</head>
<body>
  
  <h1>{{ tool.name }}</h1>
  <p>{{ tool.description }}</p>

  <div>
    <h2>Endpoints</h2>

    
    {% for method, endpoints in tool.api_endpoints.items %}
    <div>
      <h3>{{ method }}</h3>
      <ul>

        {% for e in endpoints %}
          <li>
            <strong>{% url e.endpoint %} : </strong>
            <span>{{ e.description }}</span>
            <div>
              <h5>example</h5>
              <strong>{{ method }}</strong>&nbsp;&nbsp;&nbsp;&nbsp;<span>{% url e.endpoint %}</span>

              {% if e.example.input %}
              <p>input: {{ e.example.input|safe }}</p>
              {% endif %}

              {% if e.example.output %}
              <p>output: {{ e.example.output|safe }}</p>
              {% endif %}
            </div>
          </li>
        {% endfor %}

      </ul>
    </div>
    {% endfor %}
      

  </div>
</body>
</html>