.logo {

  .ninja {
    $size: 40px;
    width: $size;
    height: $size;

    border-radius: 50%;
    transform: rotate(-15deg);
    font-size: 0;
    overflow: hidden;

    .eyes {
      height: 30%;

      position: relative;
      top: 45%;
      transform: translateY(-50%);

      .eye {
        $size: 17%;

        height: $size + 5%;
        width: $size;

        // border-radius: 50%;
        border-radius: 50% / 0 0 100% 100%;

        &:first-child {
          transform: rotate(15deg);
        }

        &:last-child {
          transform: rotate(-15deg);

        }

      }
    }
  }

  .site-name {
    font-size: 18px;
  }
}
