:root {
  font-size: 14px;
  --color-button-text: #fff;
  --color-primary-100: #dee3ea;
  --color-primary-200: #b2bdcd;
  --color-primary-300: #5d7290;
  --color-primary-600: #323d4d;
  --color-primary-700: #242c37;
  --color-primary-800: #151a21;
  --color-primary-900: #0b0e11;
  --color-secondary-washed-out: #879eed;
  --color-secondary: #5575e7;
  --color-accent-glow: rgba(253,77,77,0.3);
  --color-accent: #fd4d4d;
  --color-accent-hover: #fd6868;
  --color-accent-disabled: #f5bfbf;
  --screen-height-reduction: 0px;
}

body {
  background-color: var(--color-primary-900);
}

#homepage {
  max-width: 1440px;
  margin: auto;
}

#homepage header {
  padding: 15px 7.5%;
}

#homepage .content {
  padding: 50px 7.5%;
}

#homepage main {
  margin: 0 auto;
}

#homepage main .card {
  background-color: var(--color-primary-700);
  min-width: 250px;
  max-width: 400px;
  width: 40%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 20px;
  margin-right: 15px;
}

#homepage main .card header {
  background-color: var(--color-primary-600);
}

#homepage main .card header h3 {
  color: var(--color-primary-100);
}

#homepage main .card .content {
  color: var(--color-primary-200);
}

#homepage main .card footer ul li {
  background-color: var(--color-primary-800);
  color: var(--color-primary-300);
  margin-right: 3px;
}

#homepage main .card footer ul li:last-child {
  margin-right: 0;
}

#homepage main .card footer button {
  background-color: var(--color-accent);
  color: var(--color-button-text);
}

#homepage aside {
  width: 300px;
}

#homepage aside > * {
  background-color: var(--color-primary-700);
  overflow-x: hidden;
  overflow-y: auto;
  color: var(--color-primary-200);
  margin-bottom: 30px;
}

#homepage aside > *:last-child {
  margin-bottom: 0;
}

#homepage aside > * h2 {
  color: var(--color-primary-100);
}

#homepage aside > *::-webkit-scrollbar {
  width: .5rem;
}

#homepage aside > *::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#homepage aside > *::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-600);
  outline: 1px solid slategrey;
}

#homepage aside .acc-info .limitation-progress .progress-bar {
  background-color: var(--color-primary-800);
}

#homepage aside .acc-info .limitation-progress .progress-bar div {
  width: 20%;
  background-color: var(--color-primary-200);
}

#homepage aside .acc-info .note span {
  background-color: var(--color-accent);
}

#homepage aside .upcoming-tools {
  max-height: 300px;
}

#homepage aside .upcoming-tools .upcoming-tool {
  border-bottom: 2px solid var(--color-primary-600);
}

#homepage aside .upcoming-tools .upcoming-tool:last-child {
  border-bottom: 0;
}

#homepage aside .tool-suggestion {
  max-height: 300px;
}

#homepage aside .tool-suggestion textarea {
  background-color: var(--color-primary-600);
}

#homepage aside .tool-suggestion textarea:focus {
  outline: none;
}

#homepage aside .tool-suggestion button {
  background-color: var(--color-accent);
  color: var(--color-button-text);
}

#homepage footer, #homepage header {
  color: var(--color-primary-200);
  background-color: var(--color-primary-700);
}

#login-page {
  min-height: 100vh;
  line-height: 1.7;
}

#login-page .login-form {
  background-color: var(--color-primary-800);
  color: var(--color-primary-100);
  max-width: 400px;
}

#login-page .login-form p {
  max-width: 70%;
}

#login-page .login-form a {
  color: var(--color-accent);
}

#login-page .login-form a:hover {
  text-decoration: underline;
}

#login-page .login-form button {
  color: var(--color-button-text);
  background-color: var(--color-primary-700);
}

#login-page .login-form button:focus {
  outline: none;
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59,130,246,0.5);
  --tw-ring-offset-shadow: 0 0 transparent;
  --tw-ring-shadow: 0 0 transparent;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  -webkit-box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 transparent);
          box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 transparent);
}

#login-page .login-form button:hover {
  background-color: var(--color-primary-600);
}

#login-page footer {
  bottom: 0;
}

#login-page footer .refs {
  color: var(--color-primary-300);
  width: 350px;
}

#login-page footer .refs .icons {
  width: 70px;
}

#login-page footer .refs a:hover, #login-page footer .refs i:hover {
  cursor: pointer;
  color: var(--color-primary-200);
}
/*# sourceMappingURL=style.css.map */