:root {
  font-size: 14px;
  --color-button-text: #fff;
  --color-primary-100: #dee3ea;
  --color-primary-200: #b2bdcd;
  --color-primary-300: #5d7290;
  --color-primary-600: #323d4d;
  --color-primary-700: #242c37;
  --color-primary-800: #151a21;
  --color-primary-900: #0b0e11;
  --color-secondary-washed-out: #879eed;
  --color-secondary: #5575e7;
  --color-accent-glow: rgba(253,77,77,0.3);
  --color-accent: #fd4d4d;
  --color-accent-hover: #fd6868;
  --color-accent-disabled: #f5bfbf;
  --screen-height-reduction: 0px;
}

.bg-primary-100 {
  background-color: var(--color-primary-100);
}

.text-primary-100 {
  color: var(--color-primary-100);
}

.bg-primary-200 {
  background-color: var(--color-primary-200);
}

.text-primary-200 {
  color: var(--color-primary-200);
}

.bg-primary-300 {
  background-color: var(--color-primary-300);
}

.text-primary-300 {
  color: var(--color-primary-300);
}

.bg-primary-600 {
  background-color: var(--color-primary-600);
}

.text-primary-600 {
  color: var(--color-primary-600);
}

.bg-primary-700 {
  background-color: var(--color-primary-700);
}

.text-primary-700 {
  color: var(--color-primary-700);
}

.bg-primary-800 {
  background-color: var(--color-primary-800);
}

.text-primary-800 {
  color: var(--color-primary-800);
}

.bg-primary-900 {
  background-color: var(--color-primary-900);
}

.text-primary-900 {
  color: var(--color-primary-900);
}

.bg-accent {
  background-color: var(--color-accent);
}

.text-accent {
  color: var(--color-accent);
}

.bg-accent-hover {
  background-color: var(--color-accent-hover);
}

.text-accent-hover {
  color: var(--color-accent-hover);
}

.bg-accent-disabled {
  background-color: var(--color-accent-disabled);
}

.text-accent-disabled {
  color: var(--color-accent-disabled);
}

.bg-button-text {
  background-color: var(--color-button-text);
}

.text-button-text {
  color: var(--color-button-text);
}

body {
  background-color: var(--color-primary-800);
}

body button:focus, body input:focus, body textarea:focus {
  outline: none;
}

body [contenteditable] {
  caret-color: var(--color-accent);
}

#homepage, #api {
  max-width: 1440px;
  margin: auto;
}

#homepage header, #api header {
  padding: 15px 7.5%;
}

#homepage header {
  padding-top: 8px;
  padding-bottom: 8px;
}

#homepage > .content, #api > .content {
  padding: 50px 7.5%;
  max-width: calc(1000px + 15%);
  margin: auto;
}

#homepage main, #api main {
  margin: 0 auto;
}

#homepage main .card, #api main .card {
  background-color: var(--color-primary-700);
  min-width: 265px;
  width: 40%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  /* margin-bottom: 20px; */
  /* margin-right: 15px; */
}

#homepage main .card header, #api main .card header {
  background-color: var(--color-primary-600);
}

#homepage main .card header h3, #api main .card header h3 {
  color: var(--color-primary-100);
}

#homepage main .card .content, #api main .card .content {
  color: var(--color-primary-200);
}

#homepage main .card footer ul li:last-child, #api main .card footer ul li:last-child {
  margin-right: 0;
}

/* #homepage aside, #api aside {
  width: 300px;
} */

#homepage aside > *, #api aside > * {
  background-color: var(--color-primary-700);
  overflow-x: hidden;
  overflow-y: auto;
  color: var(--color-primary-200);
  margin-bottom: 30px;
}

#homepage aside > *:last-child, #api aside > *:last-child {
  margin-bottom: 0;
}

#homepage aside > * h2, #api aside > * h2 {
  color: var(--color-primary-100);
}

#homepage aside *::-webkit-scrollbar, #api aside *::-webkit-scrollbar {
  width: .5rem;
}

#homepage aside *::-webkit-scrollbar-track, #api aside *::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#homepage aside *::-webkit-scrollbar-thumb, #api aside *::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-600);
  outline: 1px solid slategrey;
}

#homepage aside .acc-info .limitation-progress .progress-bar, #api aside .acc-info .limitation-progress .progress-bar {
  background-color: var(--color-primary-800);
}

#homepage aside .acc-info .limitation-progress .progress-bar div, #api aside .acc-info .limitation-progress .progress-bar div {
  background-color: var(--color-primary-200);
}

#homepage aside .acc-info .note span, #api aside .acc-info .note span {
  background-color: var(--color-accent);
  margin-right: 7px;
}

#homepage aside .upcoming-tools, #api aside .upcoming-tools {
  max-height: 300px;
}

#homepage aside .upcoming-tools .upcoming-tool, #api aside .upcoming-tools .upcoming-tool {
  border-bottom: 2px solid var(--color-primary-600);
}

#homepage aside .upcoming-tools .upcoming-tool:last-child, #api aside .upcoming-tools .upcoming-tool:last-child {
  border-bottom: 0;
}

#homepage aside .tool-suggestion, #api aside .tool-suggestion {
  max-height: 600px;
}

#homepage footer, #homepage header, #api footer, #api header {
  color: var(--color-primary-200);
  background-color: var(--color-primary-700);
}

button.bg-accent:hover,
.login-form a.btn.bg-accent:hover,
a.button-style:hover {
  background-color: var(--color-accent-hover);
}

button.bg-accent:disabled,
.login-form a.btn.bg-accent:disabled,
a.button-style:disabled {
  /* background-color: var(--color-accent-disabled); */
  opacity: .5;
}

button.bg-primary-700:hover,
.login-form a.btn.bg-primary-700:hover {
  background-color: var(--color-primary-600);
}

button.bg-primary-700:disabled,
.login-form a.btn.bg-primary-700:disabled {
  opacity: .5;
}

#api {
  color: var(--color-primary-100);
}

#api main {
  /* max-width: 700px; */
}

#api .tool-info {
  background-color: var(--color-primary-700);
}

#api .tool-info .description {
  color: var(--color-primary-200);
}

#api .end-points li {
  background-color: var(--color-primary-700);
  border: 2px solid var(--color-primary-600);
  color: var(--color-primary-200);
}

#api .end-points li .method-name {
  color: var(--color-button-text);
}

#api .end-points li .props > div {
  border-bottom: 2px solid var(--color-primary-600);
}

#api .end-points li .props > div:last-child {
  border-bottom: 0;
}

#api .end-points li .link-params span {
  color: var(--color-accent);
}

#api .end-points li .props .example .params > div {
  border-bottom: 2px solid var(--color-primary-600);
  margin-bottom: 24px;
}

#api .end-points li .props .example .params > div:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}

#api .end-points li .props .example .params input {
  background-color: var(--color-primary-800);
}

#api .end-points li .param .name, #api .end-points li .param .type {
  width: 120px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

#api .end-points li .param .description {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#api .model-try-request .dialog .dialog-header, #api .model-try-request .dialog .response-content {
  border: 3px solid var(--color-primary-600);
}

#login-page {
  min-height: 100vh;
  line-height: 1.7;
}

#login-page .login-form {
  background-color: var(--color-primary-800);
  color: var(--color-primary-100);
  max-width: 400px;
}

#login-page .login-form p {
  max-width: 70%;
}

#login-page .login-form a {
  color: var(--color-accent);
}

#login-page .login-form a:hover {
  text-decoration: underline;
}

#login-page .login-form button,
#login-page .login-form a.btn {
  color: var(--color-button-text);
  background-color: var(--color-primary-700);
  text-decoration: none;
}

#login-page .login-form button:focus,
#login-page .login-form a.btn:focus {
  outline: none;
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59,130,246,0.5);
  --tw-ring-offset-shadow: 0 0 transparent;
  --tw-ring-shadow: 0 0 transparent;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  -webkit-box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 transparent);
          box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 transparent);
}

#login-page .login-form button:hover,
#login-page .login-form a.btn:hover {
  background-color: var(--color-primary-600);
}

#login-page .login-form div.username-input,
#login-page .login-form div.password-input {
  position: relative;
  height: 48px;
}

#login-page .login-form div.username-input::after,
#login-page .login-form div.password-input::after {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 16px;
  cursor: text;
}

#login-page .login-form div.username-input::after,
#login-page .login-form div.password-input::after {
  color: var(--color-primary-200);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

#login-page .login-form div.username-input.active::after,
#login-page .login-form div.password-input.active::after {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  background-color: var(--color-primary-800);
  padding: 0 16px;
}

#login-page .login-form div.username-input::after {
  content: "Username";
}

#login-page .login-form div.password-input::after {
  content: "Password";
}

#login-page footer {
  bottom: 0;
}

#login-page footer .refs {
  color: var(--color-primary-300);
  width: 350px;
}

#login-page footer .refs .icons {
  width: 70px;
}

#login-page footer .refs a:hover, #login-page footer .refs i:hover {
  cursor: pointer;
  color: var(--color-primary-200);
}
/*# sourceMappingURL=style.css.map */
.no-select {
  user-select: none; /* supported by Chrome and Opera */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
}