{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  {% include 'components/head.html' %}

  <title>Ninja-Bag | Login</title>
</head>
<body class="bg-primary-900">
  {% include 'components/loading-page.html' %}

  <div id="login-page" class="flex flex-col justify-center items-center relative">
    <div class="login-form py-12 px-10 mx-auto rounded-lg">
      <a href="{% url 'toolsframe:homepage' %}" class="logo inline-block">
        <div class="logo flex justify-center items-center flex-col">
          <div class="ninja bg-primary-100">
            <div class="eyes bg-primary-600 w-full flex justify-around items-center">
              <div class="eye bg-primary-100"></div>
              <div class="eye bg-primary-100"></div>
            </div>
          </div>
          <!-- <div class="site-name text-primary-100 font-bold hidden sm:block mt-1">Ninja Bag</div> -->
        </div>
      </a>

      <h2 class="text-3xl font-bold mb-4 mt-5">Ninja Bag</h2>
      <p class="description mb-10">
        Use a collection of useful tools that <b>Ninja-Bag</b> provide 
        which will help you while developing. and <b>its totally free</b>.
        Hope you enjoy ❤️.
      </p>
      
      <a 
        class="btn font-bold w-full py-4 flex items-center justify-center rounded-lg mb-8"
        href="{% url 'social:begin' 'github' %}"
      >
        <i class="fab fa-github text-2xl mr-4"></i>
        <span>Log in with GitHub</span>
      </a>

      <a 
        class="btn font-bold w-full py-4 flex items-center justify-center rounded-lg"
        href="{% url 'social:begin' 'google-oauth2' %}"
      >
        <i class="fab fa-google text-2xl mr-4"></i>
        <span>Log in with Google</span>
      </a>
    </div>
  </div>

  <style>
    body { background-color: var(--color-primary-900); }
  </style>

</body>
</html>
